client/
.git
.github
.gitignore
README.md
docker-compose.yml
server/__pycache__
server/*.pyc
server/*.pyo
server/*.pyd
server/.Python
server/env/
server/venv/
server/.venv/
server/pip-log.txt
server/pip-delete-this-directory.txt
server/.tox/
server/.coverage
server/.coverage.*
server/.cache
server/nosetests.xml
server/coverage.xml
server/*.cover
server/*.log
server/.mypy_cache
server/.pytest_cache
server/.ruff_cache
